body {
  height: 100vh;
  color: white;
  overflow: hidden;
  text-align: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.day-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  display: inline-block;
  margin-top: 30px;
  color: white;
  text-decoration: none;
}

/* COLOR THEMES */
.rose { background: linear-gradient(120deg, #ff758c, #ff7eb3); }
.propose { background: linear-gradient(120deg, #ff9966, #ff5e62); }
.chocolate { background: linear-gradient(120deg, #603813, #b29f94); }
.teddy { background: linear-gradient(120deg, #a18cd1, #fbc2eb); }
.promise { background: linear-gradient(120deg, #43cea2, #185a9d); }
.hug { background: linear-gradient(120deg, #f7971e, #ffd200); }
.valentine { background: linear-gradient(120deg, #ff416c, #ff4b2b); }
